# MRUDUL SUNIL PATIL
# 21BCE3386
##VIT VELLORE

## **Task 1:**
Create a pandas dataframe (DataFrame name as 'df) with numpy random values (4 features and 4 observation)

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(4, 4), columns=['Feature1','Feature2', 'Feature3', 'Feature4'])
print(df)

   Feature1  Feature2  Feature3  Feature4
0  0.847614  0.666364  0.477183  0.685250
1  0.066708  0.269395  0.383555  0.287406
2  0.385737  0.193513  0.355568  0.657715
3  0.641547  0.265448  0.357184  0.342702

## **Task 2:**
Rename the task - 1 'df dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.847614        0.666364        0.477183        0.685250
1        0.066708        0.269395        0.383555        0.287406
2        0.385737        0.193513        0.355568        0.657715
3        0.641547        0.265448        0.357184        0.342702

## **Task 3:**
Find the descriptive statistics of the 'df dataframe.

In [ ]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.485402        0.348680        0.393373        0.493268
std          0.337054        0.214642        0.057327        0.207324
min          0.066708        0.193513        0.355568        0.287406
25%          0.305980        0.247464        0.356780        0.328878
50%          0.513642        0.267422        0.370370        0.500208
75%          0.693064        0.368637        0.406962        0.664599
max          0.847614        0.666364        0.477183        0.685250

## **Task 4:**
Check for the null values in 'df and find the data type of the columns.

In [ ]:
df.isnull().values.any()

False

In [ ]:
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

## **Task 5:**
Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
columns_location = df.iloc[:, 1:3]
print("\nColumns using location method:")
print(columns_location)

columns_index_location = df[['Random value 2', 'Random value 3']]
print("\nColumns using index location method:")
print(columns_index_location)

Columns using location method:
   Random value 2  Random value 3
0        0.666364        0.477183
1        0.269395        0.383555
2        0.193513        0.355568
3        0.265448        0.357184

Columns using index location method:
   Random value 2  Random value 3
0        0.666364        0.477183
1        0.269395        0.383555
2        0.193513        0.355568
3        0.265448        0.357184